type teecd_auth, domain, coredomain;
type teelogcat, domain, coredomain;
type teecd_auth_exec, exec_type, file_type, system_file_type;
type teelogcat_exec, exec_type, file_type, system_file_type;
init_daemon_domain(teecd_auth)
init_daemon_domain(teelogcat)

allow init teecd_auth:process transition;
allow init teelogcat:process transition;

domain_auto_trans(init, teecd_auth_exec, teecd_auth)
domain_auto_trans(init, teelogcat_exec, teelogcat)
