on early-init

on init

on early-fs

on fs

on post-fs

on post-fs-data


on early-boot

on boot
    # z00142519 change permissions for bluetooth
    chmod 660 /dev/ttyAMA4
    chown bluetooth bluetooth /dev/ttyAMA4

    # z00142519 bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0774 /sys/class/rfkill/rfkill0/state


    # z00142519 bluesleep start/stop interface
     chown bluetooth bluetooth /proc/bluetooth/sleep/proto
     chmod 664 /proc/bluetooth/sleep/proto
     chown bluetooth bluetooth /proc/bluetooth/sleep/btwrite
     chmod 664 /proc/bluetooth/sleep/btwrite
     chown bluetooth bluetooth /proc/bluetooth/sleep/btwake
     chmod 664 /proc/bluetooth/sleep/btwake

     # for bluetooth mac
     mkdir /data/vendor/bluedroid 02770 bluetooth bluetooth

#wifi
    setprop wifi.interface wlan0
    setprop wifi.direct.interface p2p-dev-wlan0

    # enable apk to control the fwlog output
    chown system system /sys/module/bcmdhd/parameters/dhd_console_ms
    chown system system /sys/devices/platform/bcmdhd_wlan.1/wifi_arp_timeout
    # control vio from framework
    chown system system /dev/vio

    # control wifi firmware path
    chown wifi wifi /sys/module/bcmdhd/parameters/firmware_path
    chown wifi wifi /sys/module/bcmdhd/parameters/nvram_path

service wifi_wakeup_src /vendor/bin/wifiwakeupsrc
    class core
    user root
    group root wifi
    disabled
    oneshot
